.btn-play {
    color: white;
    background-color: #1976d2;
    height: 60px;
    width: 100px;
    font-size: 24px;
    font-weight: 600;
}

.btn-stop {
    color: white;
    background-color: #1976d2;
    height: 60px;
    width: 100px;
    font-size: 24px;
    font-weight: 600;
}